body {
    width: 100%;
    background-color: #d4d4d4;
}

h1 {
    padding: 10px;
    text-align: center;
}

.card-form {
    color: black;
    margin: 50px 20px;
    padding: 20px;
    border: 2px solid #666666;
    background-color: #e6e6e6;
}

.card-title {
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.card-subtitle {
    padding: 5px;
    margin: 0 25px;
    text-align: left;
}

.card-content {
    padding: 5px;
    margin: 5px;
}

.card-img {
    margin: 30px 10px;
}

.card-img img {
    width: 98%;
}

.card-iframe {
    padding: 10px;
    margin: 10px;
}

.card-iframe iframe{
    width: 100%;
}

.form-control {
    color: black;
    background-color: #d4d4d4;
    border: 1px solid #666666;
}

.form-control:focus {
    color: black;
    background-color: #d4d4d4;
    border: 1px solid #666666;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-wrapper {
    text-align: center;
}

.form-btn {
    margin: 10px;
    padding: 15px;
    width: 150px;
    font-size: 15px;
}

.navbar-btn {
    padding: 15px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #1f1f23;
}

.navbar-nav {
    padding: 10px;
    font-size: 16px;
}

.dropdown-menu, .dropdown-item {
    color: black;
    background-color: #d4d4d4;
}

.dropdown-item:hover {
    color: black;
    background-color: #d4d4d4;
}

.table-wrapper {
    color: black;
    margin: 10px;
    padding: 20px 20px 20px 50px;
    border: 2px solid #666666;
    background-color: #e6e6e6;
}

.table-bordered {
    border: 0;
}

.card {
    padding: 20px;
    margin: 10px;
    width: 100%;
    border: 2px solid #666666;
    border-radius: 30px;
}

.error {
    color: #610101;
    background-color: #fab4b4;
}

.success {
    color: #286300;
    background-color: #c5ff9e;
}
